<section class="section-about-me">
    <div class="about-me-sticky">
        <h2 class="about-me-tittle-sticky">This is what people say about me</h2>
        <p class="about-me-text-sticky">Here are a few lines from people who I have worked with over the past 8+ years
            in my
            design career.</p>
        <a class="about-me-link-sticky" href="#">See all testimonials</a>
    </div>
    <div class="about-me-wrap">
        <ul class="about-me-wrap-list">
            <li class="about-me-wrap-itam">
                <img class="about-me-wrap-img" src="" alt="">
                <p class="about-me-wrap-tittle">‘’Robin is one of the best designers I have worked with in my entire
                    life. He is a designer who is
                    very capable of
                    taking up complex projects and delivers impeccable design.’’</p>
                <p class="about-me-wrap-text">Richard Owens</p>
                <p class="about-me-wrap-text">CEO, Company 1</p>
            </li>
            <li class="about-me-wrap-itam">
                <img class="about-me-wrap" src="" alt="">
                <p class="about-me-wrap-tittle">‘’I think Robin has an incredible gift. It has been an absolute pleasure
                    to work with a designer of
                    this caliber.’’</p>
                <p class="about-me-wrap-text">Emily Parker</p>
                <p class="about-wrap-text">CEO, Company 2</p>
            </li>
            <li class="about-me-wrap-itam">
                <img class="about-me-wrap" src="" alt="">
                <p class="about-wrap-tittle">‘’All I can say that, Robin is a phenomenal designer. The wavelength at
                    which he thinks is
                    astoundaing. I love the
                    focus, passion and attention to detial in the design.’’</p>
                <p class="about-me-wrap-text">Vincent Rudd</p>
                <p class="about-wrap-text">CEO, Company 1</p>
            </li>
        </ul>
    </div>
</section>