/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./companies.css');
@import url('./philosophy.css');
@import url('./skillset.css');
@import url('./carousel.css');
@import url('./workthat.css');
@import url('./instagram.css');
@import url('./dribbble.css');
@import url('./aboutme.css');
@import url('./photography.css');
@import url('./getstarted.css');
@import url('./footer.css');

body {
  font-family: 'Sen', 'Bahnschrift' sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
img {
  width: 100%;
}

@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 72px;
  }
}
