.workthat {
}
.container {
}
.work-wrapper {
  padding: 64px 0 70px;
}
.work-project {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #8491a0;
  margin-bottom: 8px;
}
.project-title {
  margin-bottom: 80px;
}
.work-title {
  font-weight: 700;
  font-size: 32px;
}
.work-list {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.work-foto-description {
}
.work-description {
  padding: 40px 32px;
  background-color: #181823;
}
.work-description-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 13px;
}
.work-description-text {
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
}
.view-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  padding: 24px 32px;
  border: 1px solid #5221e6;
}
@media screen and (min-width: 768px) {
  .work-title {
    font-size: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .work-item {
    max-width: 630px;
  }
  .work-list {
    margin-bottom: 91px;
    gap: 24px;
  }
  .project-title {
    max-width: 572px;
  }
}
